.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#saying {
    font-family: cursive;
    text-shadow: 2px 2px goldenrod;
}

#sponser {
    margin: 120px;
    background-color: white;
    color: black;
    border-style: double;
    border-color: goldenrod;
}