.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#sponser {
    background-color: red;
    color: yellow;
    margin: 100px;
    padding: 50px;

}