{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">change recipe</h3>

         
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', task_id=task._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <select id="course" name="course" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                        {% if category.course == task.course %}
                            <option value="{{ category.course }} selected">{{ category.course }}</option>
                        {% else %}  
                            <option value="{{ category.course }}">{{ category.course }}</option>
                        {% endif %}    
                    {% endfor %}    
                    </select>
                    <label for="course">course</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="dish" name="dish" minlength="5" maxlength="50" value="{{ task.dish }}" type="text" class="validate" required>
                    <label for="dish">dish</label>
                </div>
            </div>
            <div class="row">   
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                     maxlength="200" class="materialize-textarea validate" required>
                     {{- task.ingredients -}}
                     </textarea>
                    <label for="ingredients">ingredients</label>
                </div>
            <div class="row">   
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <textarea id="prep" name="prep" minlength="5"
                     maxlength="200" class="materialize-textarea validate" required>
                     {{- task.prep -}}
                     </textarea>
                    <label for="prep">preparation</label>
                </div>
            </div>    
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_recipe') }}" class="btn-large red text-shadow">
                    Cancel<i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Edit Task<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>    


{% endblock %}    