{% extends "base.html" %}
{% block content %}


    <!--{% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}
    {% endfor %}-->
    <h3 class="center-align">Recipies</h3>   
    
    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
        


{% endblock %} 