{% extends "base.html" %}
{% block content %}

<h4 class="center-align">brought to you by CUMMINS RESTAURANT SUPPLIES</h4>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://s7d9.scene7.com/is/image/BedBathandBeyond/cookwareheroimage?$other$"></a>
    <a class="carousel-item" href="#two!"><img src="https://www.garrettwade.com/media/catalog/product/0/3/03a0304-frenchcookingutensils_1.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://target.scene7.com/is/image/Target/GUEST_c9b2f504-4443-412f-be8a-5b519c65b9ee?wid=488&hei=488&fmt=pjpeg"></a>
    <a class="carousel-item" href="#four!"><img src="https://cb2.scene7.com/is/image/CB2/BrushedGoldUtensilsS3SHF19/?$web_zoom$&190426102801&wid=450&hei=450"></a>
    <a class="carousel-item" href="#five!"><img src="https://www.ikea.com/us/en/images/products/behagfull-20-piece-flatware-set-stainless-steel__0711345_PE728189_S5.JPG?f=s"></a>
</div>
      

    <h3 class="black-text center-align">Recipes</h3>


        {% if tasks|length > 0 %}   
        <ul class="collapsible">
            {% for task in tasks %}
            <li>
                <div class="collapsible-header black-text yellow lighten-2">
                    <div class="col s3">
                    <i class="fas fa-caret-down"></i> 
                    {% if session.user|lower == task.created_by|lower %}
                        <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn-floating-right green black-text">DELETE</a>
                        <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-floating-right light-blue lighten-1 black-text">UPDATE</a>
                    {% endif %}    
                    </div>
                    <div class="col s9"> 
                    <strong>{{ task.dish }}</strong> 
                    </div>
                    <div class="col s3">      
                    </div>
                </div>
                <div class="collapsible-body">
                    <p><strong>course</strong></p>
                    <p>{{ task.course }}</p><br>
                    <p><strong>dish</strong></p>
                    <p>{{ task.dish }}</p><br>
                    <p><strong>ingredients</strong></p>
                    <p>{{ task.ingredients }}</p><br>
                    <p><strong>preparation</strong></p>
                    <p>{{ task.prep }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3 class="red-text text-darken-4 center-align">No results found</h3>
        {% endif %}

        
        <div class="row card-panel grey lighten-5">
            <form action="{{url_for('search')}}" method="POST" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="col s12 m4"> 
                        <button type="submit" class="light-blue darken-1 btn text-shadow">
                            Search<i class=""></i>
                        </button> 
                    </div>              
                    <div class="input-field col s12 m8">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">SEARCH FOR ANY RECIPE, ITEM OR MEAL COURSE</label>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}