 {% extends "base.html" %}
{% block content %}


<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://ta-images.condecdn.net/image/WbDBlZRRY8o/crop/1800/f/original-1-square.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://ta-images.condecdn.net/image/ebZJl6zGEoM/crop/200/square/f/84511243_134553151389617_7289975144517712387_n.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://ta-images.condecdn.net/image/77eBonP79bv/crop/200/square/f/90863760_147328846613759_7480525768374320409_n.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://ta-images.condecdn.net/image/byMApJ1OYd0/crop/405/f/73423649_737109606768935_473289779972916734_n.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://cdnimg.webstaurantstore.com/uploads/blog/2019/6/combinationcooking.jpg"></a>
</div>
      

        <h3 class="black-text center-align">Recipes</h3>


        {% if tasks|length > 0 %}   
        <ul class="collapsible">
            {% for task in tasks %}
            <li>
                <div class="collapsible-header black-text yellow lighten-2">
                    <div class="col s3">
                    <i class="fas fa-caret-down"></i> 
                    {% if session.user|lower == task.created_by|lower %}
                        <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn-floating-right green black-text">DONE</a>
                        <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-floating-right light-blue lighten-1 black-text">EDIT</a>
                    {% endif %}    
                    </div>
                    <div class="col s9"> 
                    <strong>{{ task.dish }}</strong> 
                    </div>
                    <div class="col s3">      
                    </div>
                </div>
                <div class="collapsible-body">
                    <p><strong>course</strong></p>
                    <p>{{ task.course }}</p><br>
                    <p><strong>dish</strong></p>
                    <p>{{ task.dish }}</p><br>
                    <p><strong>ingredients</strong></p>
                    <p>{{ task.ingredients }}</p><br>
                    <p><strong>preparation</strong></p>
                    <p>{{ task.prep }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3 class="red-text text-darken-4 center-align">No results found</h3>
        {% endif %}

        
        <div class="row card-panel grey lighten-5">
            <form action="{{url_for('search')}}" method="POST" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Tasks</label>
                    </div>
                    <div class="col s12 m4"> 
                        <a href="{{url_for('get_tasks')}}" class="red button text-shadow">Reset</a>
                        <button type="submit" class="light-blue darken-1 btn text-shadow">
                            Search<i class="fas fa-search left"></i>
                        </button> 
                    </div>
                </div>
            </form>
        </div>

        
  
         
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>
     

       

         
{% endblock %}